*{
    margin: 0;
    padding: 0;
    font-family: 'popins', 'sans-serif';
    box-sizing: border-box;
}
body{
    background: #efefef;
}
nav{
    display: flex;
    align-items: center;
    background: blue;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-between;
}
.logo{
    width: 160px;
    margin-right: 25px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 25px;
    margin: 0  15px;
}
.nav-user-icon img{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
}
.nav-user-icon{
    margin-left: 20px;
}
.search-box{
    width: 300px;
    background: #efefef;
    border-radius: 20px;    
    display: flex;
    align-items: center;
    padding: 5px 15px;

}
.search-box img{
    width: 20px;
    margin-right: 5px;
}
.search-box input{

    background: transparent;
    width: 100%;
    outline: none;
    padding: 10px;
    border: 0;
    font-size: 16px;
}
.online{
    display: flex;
    position: relative;

}
.online::after{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: #41db51;
    border-radius: 50%;
    top: 0;
    right: 0;
    border: 2px solid #fff;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
 }
 .left-sidebar{
    flex-basis: 25%;
    position: sticky;
    align-self: flex-start;
    top: 70px;
    background: #fff;
    padding: 6px;
    margin-left: 60px;

 }
 
 .right-sidebar{
    flex-basis: 25%;
    position: sticky;
    align-self: flex-start;
    margin-left: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
 }
 .Main-content{
    flex-basis: 45%;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-left: 10px;
 }
 .imp-link a, .shortcut-link a{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 5px;
    width: fit-content;
    align-items: center;
    margin-bottom: 10px;
 }
 .imp-link a img{
    width: 25px;
    margin-right: 10px;
}
.imp-link a:last-child{
    font-size: 15px;
    color: blue;
}
.imp-link {
    border-bottom: 2px solid #ccc;
}
.shortcut-link a img{
    width: 40px;
    margin-right: 10px;
    border-radius: 5px;

}

.shortcut-link h3{
    margin: 20px 0;
    color: #626262;
    font-size: 15px;
}

.right-sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.right-sidebar-title h4{
    font-weight: 600px;
    font-size: 16px;

}
.right-sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.events{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.events h3{
    font-size: 20px;
}
.left-event{
    width: 65px;
    height: 65px;
    border-radius: 10px;
    position: relative;
    margin-right: 15px;
    overflow: hidden;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
    text-align: center;
}
.events p{
    font-size: 12px;
}
.events a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list, .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}